@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {
	h1 {
		@apply text-5xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-xl font-semibold;
	}
	input {
		@apply border-primary bg-primary w-full rounded-md px-3 py-2 focus:outline-none;
	}
	input[type="checkbox"] {
		@apply bg-primary h-6 w-6 shrink-0 appearance-none bg-opacity-60 p-0 checked:bg-green-500;
	}
	select {
		@apply border-primary bg-primary w-full appearance-none rounded-md px-3 py-2 focus:outline-none;
	}
	button {
		@apply border-primary hover:bg-secondary bg-primary rounded-md px-4 py-2 transition-colors disabled:cursor-not-allowed;
	}
	button.primary {
		@apply bg-green-300 hover:bg-green-400 dark:bg-green-600 dark:hover:bg-green-500;
	}
	code {
		@apply border-primary rounded-sm bg-neutral-200 bg-opacity-60 p-1 text-sm dark:bg-neutral-800;
	}
	a {
		@apply underline underline-offset-4 hover:opacity-80;
	}
	blockquote {
		@apply border-primary;
	}
	.bg-primary {
		@apply bg-white dark:bg-black;
	}
	.bg-secondary {
		@apply bg-neutral-300 dark:bg-neutral-700;
	}
	.border-primary {
		@apply border-2 border-neutral-200 dark:border-neutral-800;
	}
	.text-secondary {
		@apply text-neutral-600 dark:text-neutral-400;
	}
}
