@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-primary: var(--primary);
	--color-background: var(--background);
	--color-subtle: var(--subtle);
	--color-negative: var(--negative);
	--color-secondary: var(--secondary);
	--color-danger: var(--danger);
}

:root {
	--primary: white;
	--secondary: #666;
	--background: white;
	--negative: #222;
	--subtle: #ddd; /* black/10 */
	--danger: red;
}

.dark {
	--primary: black;
	--secondary: #888;
	--background: black;
	--negative: #ddd;
	--subtle: #222;
	--danger: red;
}

@layer base {
	html {
		@apply bg-background text-negative;
	}
	h1 {
		@apply text-5xl font-bold;
	}
	h2 {
		@apply text-3xl font-bold;
	}
	h3 {
		@apply text-xl font-semibold;
	}
	input {
		@apply border-subtle border bg-primary w-full rounded-md px-3 py-2 focus:outline-none;
	}
	input[type="checkbox"] {
		@apply bg-primary/60 h-6 w-6 shrink-0 appearance-none p-0 checked:bg-green-500;
	}
	select {
		@apply border-subtle border bg-primary w-full rounded-md px-3 py-2 focus:outline-none appearance-none;
	}
	button {
		@apply border-primary hover:bg-secondary bg-primary rounded-md px-4 py-2 transition-colors disabled:cursor-not-allowed cursor-pointer;
	}
	code {
		@apply border-primary rounded-sm bg-neutral-200/60 p-1 text-sm dark:bg-neutral-800;
	}
	a {
		@apply underline underline-offset-4 hover:opacity-80;
	}
	blockquote {
		@apply border-primary;
	}
}
